@import url('https://fonts.googleapis.com/css?family=Special+Elite');

.section-citation {
    display: flex;
    justify-content: center;
    min-height: 300px;
}

.case-citation {
	font-family: 'Special Elite', cursive;
	/* color: #3f3f5a; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    padding: 30px;
    max-width: 600px;
}

.section-citation blockquote {
	font-weight: 100;
	font-size: 2rem;
	/* max-width: 600px; */
	line-height: 1.4;
	position: relative;
	margin: 0;
	padding: .5rem;
}

.section-citation blockquote:before,
.section-citation blockquote:after {
	position: absolute;
	color: #f1efe6;
	font-size: 8rem;
	width: 4rem;
	height: 4rem;
}

.section-citation blockquote:before {
	content: '“';
	left: -5rem;
	top: -2rem;
}

.section-citation blockquote:after {
	content: '”';
	right: -5rem;
	bottom: 1rem;
}

.section-citation cite {
	line-height: 3;
	text-align: left;
    align-self: flex-end;
    margin-bottom: 10px;
}

.case-citation i {
    cursor: pointer;
    margin-left: 10px;
    transition: all 200ms;
}

.case-citation i:hover {
    scale: 1.5;
    rotate: 90deg;
}

.icone-chargement {
    font-size: 6em;
    position: absolute;
    top: 100px;
    animation: 3s infinite chargement linear;
}

@keyframes chargement {
    100% {
        rotate: 360deg;
    }
}